/* global */
body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    /* var color */
    --blue-color : #0065FC;
    --white-color: #ffffff;
    --light-blue: #DEEBFF;
    --bg-grey: #F2F2F2;
    --dark-grey: #D9D9D9;
    /* var border */
    --br-20px: 20px;
    /* var shadow */
    --box-shadow: 0px 0px 11px rgb(122, 122, 122);
}
.body-content{
    min-width: 350px;
    max-width: 1400px;
    margin: 0 2em;
}
h1{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 16px;
    font-weight: 700;
}
p{
    font-weight: 400;
}
img{
    object-fit: cover;
}
input:focus {
    outline:  none;
}
.sub-title{
    margin: 8px 0 20px 0;
}
/* color */
.text-blue{
    color: var(--blue-color);
}
.text-grey{
    color: var(--bg-grey);
}
/* COMPOSANTS */
header p{
    font-size: 16px;
}
/* NAV */
.div-header{
    margin: 2em 0 4em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display:inline-flex;
    justify-content:flex-end;
}
 nav a{
    text-decoration: none;
    color: black;
}
nav a{
    line-height: 2em;
}
nav ul, li {
    list-style-type:none;
    line-height: 2em;
  }
nav li {
    width:auto;
    margin:0 25px;
    cursor: pointer;
}
#link1:hover::before {
    position: absolute;
    top: 0px;
    left: 80%;
    width: 160px;
    height: 2px;
    margin: auto;
    content: '';
    background-color: var(--blue-color);
  }
  #link2:hover::before {
    position: absolute;
    top: 0;
    left: 88%;
    width: 160px;
    height: 2px;
    margin: auto;
    content: '';
    background-color: var(--blue-color);
  }
/* SEARCH LOCATION */
.container-search-button{
    display: flex;
}
input{
    border: 1px solid #F2F2F2;
}

.location-search{
    background: var(--bg-grey);
    border: 1px solid var(--bg-grey);
    border-radius: 15px 0px 0px 15px;
    height: 50px;
    width: 50px;
    text-align: center;
}
.search-location-button{
    width: 132px;
    background: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    color: var(--white-color);
    font-weight: bold;
    font-size: 18px;
}
.search-location-button-mobile{
    display: none;
}
.search-location-button label{
    padding: 1em;
}
input{
    max-height: 46px;
}
span{
    font-size: 18px;
    font-weight: bold;
}
.filters-div{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ul-filters{
    width: 820px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
} 
.filters-button{
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    padding: 15px;
    margin: 2px;
    border-radius: 50px;
    background-color: var(--white-color);
    color: black;
    border: 2px solid var(--dark-grey);
}
.filters-button a {
    text-decoration: none;
    color: black;
}
.filters-button i{
    padding-right: 5px;
    color: var(--blue-color);
}
.filters-button:hover{
     background-color: var(--light-blue);
}
.circle{
    height: 20px; 
	width: 20px; 
	border: 1px solid var(--dark-grey);
	border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: var(--blue-color);
    margin-right: 10px;
}
.div-info{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}
/* MAIN  */
.box-section-aside{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4em;
}
main a{
    text-decoration: none;
    color: black;
}
.section-top{
    width: 60%;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.title-aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-top,
aside{
    background-color: var(--bg-grey);
    border-radius: var(--br-20px);
    padding: 1.5em 2.3em;
}
/* SECTION */
.title{
    margin: 16px 0 30px 0;
    font-size: 22px;
}
.section-card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
/* CARD */
.card{
    width: 30%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: var(--br-20px);
    box-shadow: 0px 0px 11px rgb(223, 222, 222);
    transition: transform .5s, box-shadow 1s;
}
.card:hover{
    transform: scale(1.02) perspective(0px);
    box-shadow: var(--box-shadow);  
}
.card h3{
    margin: 4px 0 0 0;
}
.card p{
    margin: 9px 0;
}
.card img{
    width: 97%;
    height: 120px;
    border: 3px solid var(--white-color);
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.card-content{
    padding: 0 0.5em;
}
.card h5{
    margin: 0;
}
.more{
    font-weight: 700;
    font-size: 18px;
}
.aside-card{
    max-width: 340px;
    display: flex;
    margin-right: 0;
    border-radius: var(--br-20px);
    background-color: var(--white-color);
    margin-bottom: 1.5em;
    box-shadow: 0px 0px 11px rgb(223, 222, 222);
    transition: transform .5s, box-shadow 1s;
}
.aside-card:hover{
    transform: scale(1.02) perspective(0px);
    box-shadow: var(--box-shadow); 
}
.aside-card h3{
    margin-bottom: 5px;
}
.aside-card p{
    margin-top: 0;
}
.aside-card img{
    border: 3px solid var(--white-color);
    width: 137px;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
}
.aside-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1em;
}
/* ACTIVITIES */

.div-activities{
    margin-bottom: 4em;
}
.div-card-activities{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.simple-card{
    width: 22%;
    margin-top: 1em;
    background-color: var(--white-color);
    border-radius: 20px;
    box-shadow: 0px 0px 11px rgb(223, 222, 222);
    transition: transform .5s, box-shadow 1s;
}
.simple-card:hover{
    transform: scale(1.02) perspective(0px);
    box-shadow: var(--box-shadow);  
}
.simple-card img{
    height: 389px;
    width: 100%;
    margin: auto;
    border-top-right-radius: var(--br-20px);
    border-top-left-radius: var(--br-20px);
} 
.simple-card h5{
    margin: 20px;
}
.text-simple-card{
    font-size: 16px;
    font-weight: 700;
    padding-left: 1em;
}
/* FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5em;
    margin-left: 30;
    background-color: var(--bg-grey);
    padding: 30px 330px 45px 70px;

}
.footer-title{
    font-size: 18px;
    font-weight: 700;
}
footer a{
    margin-bottom: 0.5em;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 909px){
    .section-card-container{
        justify-content: center;
    }
    .card{
        margin: 1em;
    }
}
@media screen and (max-width: 992px){

    #link1:hover::before{
        left:70%
    }
    #link2:hover::before{
        left:85%
    }
    .section-top,
    aside{
        width: 100%;
    }
    aside{
        margin-top: 3em;
    }
    .card img{
        height: 116px;
    }
    .container-aside-card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .aside-card{
        font-size: 14px;
        width: 30%;
        height: 144px;
    }
    .aside-card img{
        width: 105px;
        height: 96%;
    }
    .simple-card img{
        height: 211px;
    }
    .title-activities{
        margin-bottom: 1.5em;
    }
    footer{
        padding: 30px 170px 45px 70px;
    }
}

    @media screen and (max-width: 809px) {
        .container-aside-card{
            justify-content: center;
        }
    }
    @media screen and (max-width: 767px){
        body{
            margin: 0;
        }
        .body-content{
            margin: 0;
        }
        #link1:hover::before{
            top:145px;
            left:0%;
            width:50%
        }
        #link2:hover::before{
            top:145px;
            left:50%;
            width:50%
        }
        .cta-top{
            margin: 0 2em 0 1.5em;
        }
        h2{
            font-size: 18px;
        }
        header{
            margin: 0 0.5em;
        }
        .div-header{
            flex-direction: column;
            margin-bottom: 2em;
            align-items: initial;
            padding-bottom: 0.7em;
            border-bottom: solid var(--bg-grey) 1px;
        }
        .div-header img{
            text-align: center;
        }
        .logo{
            text-align: center;
    
            margin-bottom: 1.5em;
        }
        nav ul{
            
            display: flex;
            justify-content: space-around;
        }
        nav ul{
            padding: 0;
        }
        nav li{
            padding: 0;
            margin: 0 1em 0 0;
        }
        .container-search-button{
            justify-content: center;
        }
        .search-location-button{
            display: none;
        }
        .search-location-button-mobile{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            background: var(--blue-color);
            border: 1px solid var(--blue-color);
            border-radius: 0px 15px 15px 0px;
            height: 50px;
            color: var(--white-color);
            font-weight: bold;
            font-size: 18px;
        }
        .filters-div{
            flex-direction: column;
            align-items: start;
        }
        .ul-filters{
            padding: 0;
            width: 100%;

        }
        .filters-button{
            font-size: 11px;
            width: 36%;
            border-radius: 25px;
        }
        .filters-button i{
            font-size: 11px;
            padding-right: 1px;
        }
        .section-top{
            background-color: var(--white-color);
            padding: 0;
        }
        .box-section-aside{
            flex-direction: column-reverse;
        }
        .more{
            display: none;
        }
        .container-aside-card{
            margin-bottom: 2em;
        }
        .card{
            width: 344px;
        }
        .div-card-activities{
            justify-content: center;
        }
        .simple-card{
            margin: 1em;
            width: 334px;
            
        }
        .simple-card img{
            width: 100%;
            height: 134px;
        }
        aside{
            border-radius: 0;
            padding: 0;
            margin: 0;
        }
        .aside-card{
            width: 96%;
        }
        .aside-card img{
            width: 137px;
        }
        .title,
        .title-aside{
            padding: 0 1em;
        }
        .title-aside{
            margin: 20px 0 0px 0;
        }
        .section-top .title{
            margin: 1em 0 0.5em 0;
        }
        .title-activities{
            margin: 0 0 0 1em;
            max-width: 120px;
            font-size: 22px;
        }
    }


