/* global */
body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0 2em;

    /* var color */
    --blue-color : #0065FC;
    --white-color: #ffffff;
    --light-blue: #DEEBFF;
    --bg-grey: #F2F2F2;
    --dark-grey: #D9D9D9;

    /* var border */
    --br-20px: 20px;

}


h1, h3{
    font-size: 22px;
    font-weight: 700;
}
h1{
    margin-bottom: 0;
}
h5{
    font-size: 16px;
    font-weight: 700;
}
p{
    font-size: 14px;
    font-weight: 400;
}

/* color */
.text-blue{
    color: var(--blue-color);
}
.text-grey{
    color: var(--bg-grey);
}

.d-flex{
    display: flex;
}

/* COMPOSANTS */
header p{
    font-size: 16px;
}
/* NAV */
nav{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-div-link div{
    display: none;
    position: relative;
}
.nav-div-link div:target {
    display: block;
}
nav ul {
    display:inline-flex;
    justify-content:flex-end;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: var(--blue-color);
}
#position-link1{
    position: absolute;
    top: -2em;
}
#position-link2{
    position: absolute;
    top: -2em;
    right: -20px;
}
ul, li {
    list-style-type:none;
  }
  
li {
    width:auto;
    margin:0 25px;
    cursor: pointer;
}

/* SEARCH LOCATION */
.location-search{
    background: var(--bg-grey);
    border: 1px solid var(--bg-grey);
    border-radius: 15px 0px 0px 15px;
    height: 51px;
    width: 40px;
    text-align: center;
}
.search-location-button{
    background: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 0px 15px 15px 0px;
    height: 52px;
}

input{
    max-height: 46px;
}
label{
    font-size: 18px;
    font-weight: bold;
}
.filters-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin-top: 30px;
    max-width: 860px;
}

.filters-button{
    font-weight: bold;
    font-size: 17px;
    padding: 13px;
    border-radius: 25px;
    min-height: 50px;
    background-color: var(--white-color);
    color: var(--blue-color);
    border: 2px solid var(--dark-grey);
}
.filters-button i{
    padding-right: 5px;
    color: var(--blue-color);
}
.filters-button:hover{
     background-color: var(--light-blue);
}
.circle{
     border: 1px solid var(--dark-grey);
     padding: 5px;
     margin-right: 1em;
     border-radius: 100%;
     color: var(--blue-color);
}
.div-info{
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

/* MAIN  */
.div-main{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
main a{
    text-decoration: none;
    color: black;
}

section,
aside{
    margin-top: 20px;
    background-color: var(--bg-grey);
    border-radius: var(--br-20px);
    font-size: 18px;
    font-weight: 700;
    padding: 41px 37px 34px 37px;
}
/* SECTION */
.title{
    font-size: 22px;
}
.section-card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* CARD */
.card-hide{
    display: none;
}
.card-margin-end{
    margin-right: 30px;
}
.card{
    /* margin: 16px 20px; */
    background-color: var(--white-color);
    border-radius: var(--br-20px);
}
.card img{
    width: 241px;
    height: 124px;
    border: 3px solid var(--white-color);
    border-radius: 20px 20px 0px 0px;
}
.card-content{
    padding-left: 16px;
}
.card h5{
    margin: 0;
}
.stars{
    padding-bottom: 11px;
}
.more{
    margin-top: 38px;
}
.aside-card{
    display: flex;
    margin-right: 0;
    width: 342px;
    height: 144px;
    border-radius: var(--br-20px);
    background-color: var(--white-color);
}
.aside-card img{
    border: 3px solid var(--white-color);
    width: 133px;
    height: 140px;
    border-radius: 20px 0px 0px 20px;
}
.aside-card-margin-bottom{
    margin-bottom: 30px;
}
/* ACTIVITIES */
.div-activities{
    margin-top: 38px;
}
.div-card-activities{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.simple-card{
    padding: 0;
    width: 302px;
    height: 444px;
    background-color: var(--white-color);
    border-radius: 20px;
    border:1px solid var(--bg-grey);
}
.simple-card img{
    height: 389px;
    width: 302px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
} 
.simple-card h5{
    margin: 20px;
}
/* FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 0;
    background-color: var(--bg-grey);
    padding: 45px 300px 45px 30px;

}
.footer-title{
    font-size: 18px;
    font-weight: 700;
}
footer a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (min-width: 993px){
    aside, section{
        height: 625px;
    }
}
@media screen and (max-width: 992px)
{
    header{
        max-width: 880px;
        padding: 0 37px;
    }
    aside{
        margin-top: 50px;
        padding: 41px 26px 34px 26px;
        max-width: 880px;
    }
    .aside{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .aside-card{
        width: 252px;
        height: 144px;
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 20px;
    }
    .aside-card img{
        width: 101px;
        height: 140px;
    }
    /* .aside h5{
        font-size: 16px;
    } */
    section{
        max-width: 880px;
    }
    .div-main{
        display: flex;
        justify-content: center;
    }
    .div-activities{
        padding: 41px 26px 34px 26px;
        /* max-width: 880px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div-card-activities{
        max-width: 880px;
        /* justify-content: center; */
    }
    .simple-card{
        width: 182px;
        height: 267px;
    }
    .simple-card img{
        height: 210px;
        width: 182px;
    } 
    footer{
        padding: 41px 26px 34px 26px;
        max-width: 880px;
    }
}
