/* global */
body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    /* var color */
    --blue-color : #0065FC;
    --white-color: #ffffff;
    --light-blue: #DEEBFF;
    --bg-grey: #F2F2F2;
    --dark-grey: #D9D9D9;
    /* var border */
    --br-20px: 20px;
    /* var shadow */
    --box-shadow: 0px 0px 10px rgb(192, 192, 192);
}
/* ANCHOR a enlever après */
#link2:target{
    color: var(--blue-color);
    scroll-margin-top: 10em;
}
.body-content{
    min-width: 350px;
    max-width: 1400px;
    margin: 0 2em;
}
h1{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 16px;
    font-weight: 700;
}
p{
    font-weight: 400;
}
/* color */
.text-blue{
    color: var(--blue-color);
}
.text-grey{
    color: var(--bg-grey);
}
/* COMPOSANTS */
header p{
    font-size: 16px;
}
/* NAV */
.div-header{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display:inline-flex;
    justify-content:flex-end;
}
 nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    border-top: 5px var(--blue-color) solid;
    margin-top: 5em;
    color: var(--blue-color);
} 
nav ul, li {
    list-style-type:none;
  }
nav li {
    width:auto;
    margin:0 25px;
    cursor: pointer;
}
/* SEARCH LOCATION */
.container-search-button{
    display: flex;
}
.location-search{
    background: var(--bg-grey);
    border: 1px solid var(--bg-grey);
    border-radius: 15px 0px 0px 15px;
    height: 51px;
    width: 40px;
    text-align: center;
}
.search-location-button{
    background: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 0px 15px 15px 0px;
    height: 52px;
    color: var(--white-color);
}
input{
    max-height: 46px;
}
span{
    font-size: 18px;
    font-weight: bold;
}
.filters-div{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ul-filters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
} 
.filters-button{
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    margin: 2px;
    border-radius: 25px;
    background-color: var(--white-color);
    color: black;
    border: 2px solid var(--dark-grey);
}
.filters-button i{
    padding-right: 5px;
    color: var(--blue-color);
}
.filters-button:hover{
     background-color: var(--light-blue);
}
.circle{
     border: 1px solid var(--dark-grey);
     padding: 5px;
     margin-right: 1em;
     border-radius: 100%;
     color: var(--blue-color);
}
.div-info{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}
/* MAIN  */
.box-section-aside{
    /* border: red solid; */
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 4em;
}
main a{
    text-decoration: none;
    color: black;
}
.section-top{
    /* border: yellow solid; */
    width: 60%;
}
aside{
    /* border: green solid; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.title-aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-top,
aside{
    margin-top: 20px;
    background-color: var(--bg-grey);
    border-radius: var(--br-20px);
    padding: 2em 1em;
}
/* SECTION */
.title{
    font-size: 22px;
}
.section-card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2.5em;
}
/* CARD */
.card{
    width: 30%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: var(--br-20px);
    box-shadow: var(--box-shadow);
}
.card h3{
    margin-bottom: 0;
}
.card img{
    width: 97%;
    height: 124px;
    border: 3px solid var(--white-color);
    border-radius: 20px 20px 0px 0px;
}
.card-content{
    padding: 0 0.5em;
}
.card h5{
    margin: 0;
}
.more{
    font-weight: 700;
    margin-top: 2em; 
}
.aside-card{
    display: flex;
    margin-right: 0;
    height: 100%;
    border-radius: var(--br-20px);
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    margin-bottom: 1.5em;
}
.aside-card img{
    border: 3px solid var(--white-color);
    width: 137px;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
}
.aside-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.5em;
}
/* ACTIVITIES */
.div-card-activities{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.simple-card{
    width: 22%;
    margin-top: 1em;
    height: 444px;
    background-color: var(--white-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.simple-card img{
    height: 80%;
    width: 100%;
    margin: auto;
    border-top-right-radius: var(--br-20px);
    border-top-left-radius: var(--br-20px);
} 
.simple-card h5{
    margin: 20px;
}
.text-simple-card{
    font-size: 16px;
    font-weight: 700;
    padding-left: 1em;
}
/* FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5em;
    margin-left: 0;
    background-color: var(--bg-grey);
    padding: 45px 300px 45px 30px;

}
.footer-title{
    font-size: 18px;
    font-weight: 700;
}
footer a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 909px){
    .section-card-container{
        justify-content: center;
    }
    .card{
        margin: 1em;
    }
}
@media screen and (max-width: 992px){
    .section-top,
    aside{
        width: 100%;
    }
    .container-aside-card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .aside-card{
        font-size: 14px;
        width: 30%;
        height: 180px;
    }
    .aside-card img{
        width: 105px;
        height: 96%;
    }
    @media screen and (max-width: 809px) {
        .container-aside-card{
            justify-content: center;
        }
    }
    @media screen and (max-width: 767px){
        h2{
            font-size: 18px;
        }
        header{
            margin: 0 1.5em;
        }
        .div-header{
            flex-direction: column;
        }
        nav ul{
            padding: 0;
        }
        nav li{
            padding: 0;
            margin: 0 1em 0 0;
        }
        nav a:hover{
            border-top: none;
            border-bottom: 5px var(--blue-color) solid;
        }
        .container-search-button{
            justify-content: center;
        }
        .filters-div{
            flex-direction: column;
            align-items: start;
        }
        .ul-filters{
            padding: 0;
            width: 80%;
            justify-content: start;
        }
        .filters-button{
            font-size: 11px;
        }
        .section-top{
            background-color: var(--white-color);
            padding: 0;
        }
        .box-section-aside{
            flex-direction: column-reverse;
        }
        .card{
            width: 50%;
        }
        .more{
            display: none;
        }
        .div-card-activities{
            justify-content: center;
        }
        .simple-card{
            margin: 1em;
            width: 100%;
            height: 250px;
        }
        .simple-card img{
            width: 100%;
            height: 70%;
        }
        aside{
            padding: 0;
        }
        .aside-card{
            width: 96%;
        }
        .title,
        .title-aside{
            padding: 0 1em;
        }
    }
    @media screen and (max-width: 623px){
        .card{
            width: 100%;
        }
    }
}
